.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 120px;
    background-color: #fff;
    padding: 10px 20px;
    width: 100%;
    flex-shrink: 0;
}